@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    margin: 0;
    padding: 0;
    background-image: url(cloud-image.jpg);
    background-position: center;
    background-size: cover;
     background-attachment: fixed;
}

.login-box {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.788);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #003d66;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 4px solid #002e4d;
    margin-bottom: 20px;
    padding: 10px 0;
    transform: translate(150%, 50%);
}

.textbox {
    width: 80%;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 0;
    margin: 8px 0;
    border-bottom: 3px solid #002e4d;
    transform: translate(15%, 50%);
}

i {
    color: #003d66;
    padding: 10px;
}

.btn {
    transform: translate(150%, 150%);
}